<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title><%- htmlWebpackPlugin.options.title || 'Webpack App'%></title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/app.css">
  </head>
<body>
   <nav class="navbar navbar-light bg-faded">
      <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">&#9776;</button>
      <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
      <a class="navbar-brand" href="/">MOOCFetcher</a>
      <ul class="nav navbar-nav pull-md-right pull-lg-right pull-xl-right">
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/settings">Settings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/help">Help</a>
        </li>
      </ul>
      </div>
    </nav>
  <div class="container-fluid">
     <div id="app"></div>
  </div>
  <footer>
    <p class="text-xs-center">&copy; 2016 MOOCFetcher.</p>
  </footer>
  <script>
    var API_ROOT=""
  </script>
  <!-- jQuery first, then Bootstrap JS. -->
  <script src="js/jquery.min.js"></script>
  <script src="js/tether.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="app_bundle.js"></script>
</body>
</html>
